.top {
    height: 500px;
    background-color:rgb(198,38,65);
    color: #ffffff;
    position: relative;
    text-align: center;
    font-family: Raleway;
    font-weight: 600;
    font-size: 1.1rem;
    -webkit-font-smoothing: antialiased;
}

.middle{
    background: #ffffff;
    width: 70%;
    box-shadow: 0 30px 50px 0 rgba(1,1,1,.15);
    margin: 0 auto 10rem;
    min-height:600px;
}


.bot {
    height: 300px;
    background: #f8f8f8;
    color: #444444;
    position: relative;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

a {
    color: #ffffff;
}

h2 {
    font-size: 4rem;
}

h3 {
    padding-top:5%;
    color: #333333;
    font-size: 2rem;
}

h4 {
    text-align: left;
    color: #333333;
    font-size: 1.3rem;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 3200;
}

.move {
    height: 100px;
    margin: 0 auto;
    border-radius: 40%;
    border: 3px solid black;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.25);
    background-color: rgb(198,38,65);
}


.moveMenu {
    text-align: center;
    box-shadow: 0 0 0.5em darkgrey;
    background: rgba(240,238,236,0.9);
    border-radius: 12px;
    padding: 2%;
}

#playMenu {
    text-align: center;
    background-image: url(http://clipart-library.com/data_images/253325.jpg);
    background-size: 100% 100%;
    height:500px;
    width:700px;
    display:none;
}



.btn-white {
    width: 150px;
    color: #c62641;
    background: #ffffff;
    border-radius: 0%;
    border: 1px solid #ffffff;
}

.img_rules{
    height:60px;
}


